@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

body {
  background-color: lightblue;
}

.App {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

input {
  padding: 0.5rem;
  margin: 1.5rem;
  width: 40%;
}

.meaning-label {
  margin-bottom: 1.25rem;
}

.sign-display {
  font-size: 1.75rem;
  padding: 0.5rem;
  margin-top: 1.5rem;
  cursor: pointer;
}
